{% extends 'base.html.twig' %}

{% block contenu%}
    {% for infosUser in infos %}
        {{ infosUser.username }}
    {% endfor %}
    {{ form_start(formModifMotDePasse) }}
            <div>
                <label for="">Mot de passe actuel</label>
                {{ form_widget(formModifMotDePasse.password) }}
            </div>
    <button>aba</button>
    {{ form_end(formModifMotDePasse) }}
{% endblock %}

{% block contenu %}

{% endblock %}

