{% extends 'base.html.twig' %}

{% block title %}
    Modifier mon mot de passe
{% endblock %}

{% block contenu%}

    {{ form_start(formModif) }}

                {{ form_widget(formModif) }}
    {% for message in app.flashes('error') %}
        <div class="flash-success">
            {{ message }}
        </div>
    {% endfor %}
    <button>Modifier mon mot de Passe</button>

    {{ form_end(formModif) }}
{% endblock %}

{% block body %}

{% endblock %}

