{% extends 'base.html.twig' %}

{% block title %}    <h1>babbababa</h1>
{% endblock %}

{% block contenu%}
    {% for infosUser in infos %}
        {{ infosUser.username }}
    {% endfor %}
    {{ form_start(formModifMotDePasse) }}

                {{ form_widget(formModifMotDePasse.password) }}

    <button>aba</button>
    {{ form_end(formModifMotDePasse) }}
{% endblock %}

{% block body %}

{% endblock %}

