{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styleRegister.css') }}">
{% endblock %}
{% block title %}S'inscrire{% endblock %}

{% block contenu %}
    <h1>Inscription</h1>
<div class="formulaire">


    {{ form_start(registrationForm) }}
    {{ form_widget(registrationForm) }}



        <button type="submit" class="btn btn-secondary">Register</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
