{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block contenu %}
    <h1>Inscription</h1>
<div class="formulaire">


    {{ form_start(registrationForm) }}
    {{ form_widget(registrationForm) }}



        <button type="submit" class="btn btn-secondary">Register</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
