{% extends 'base.html.twig' %}

{% block contenu %}<h1>Suppression/désactivation de Compte</h1>

{#<div class="infos">#}
{#    <div class="pseudo">#}
{#        <label for=""></label>#}
{#        {{ utilisateur.username }}#}
{#    </div>#}
{#    <div class="prenom">#}
{#        <label for="">Prénom : </label>#}
{#        {{ utilisateur.prenom }}#}
{#    </div>#}
{#    <div class="Nom">#}
{#        <label for="">Nom : </label>#}
{#        {{ utilisateur.nom }}#}
{#    </div>#}












{% endblock %}