{% extends 'base.html.twig' %}

{% block contenu %}
{{ form_start(formSortie) }}

    {{ form_widget(formSortie) }}
    <button>Envoyer</button>
    {{ form_end(formSortie) }}
{% endblock %}

{% block title %}

{% endblock %}

