{% extends 'base.html.twig' %}
{% block stylesheets %}
{% endblock %}

{% block title %}{% endblock %}

{% block contenu %}
    {{ form_start(formVille) }}
    {{ form_widget(formVille) }}
    <button>Envoyer</button>
    {{ form_end(formVille) }}

    <template id="selecttemplate">
        <option></option>
    </template>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('javascript/afficherVille.js') }}"></script>
{% endblock %}